<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora 3</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>Projeto Matemático Geral</h1>
        <a href="/">home</a>
    </header>
    <div class="conteudo">
        <!-- <table class="calculadora">
            <tr>
                <td><p></p></td>
                <td>=</td>
            </tr>
            <tr class="calculadora_row">
                <td class="calculadora_celula">1</td>
                <td class="calculadora_celula">2</td>
                <td class="calculadora_celula">3</td>
            </tr>
            <tr class="calculadora_row">
                <td class="calculadora_celula">4</td>
                <td class="calculadora_celula">5</td>
                <td class="calculadora_celula">6</td>
            </tr>
            <tr class="calculadora_row">
                <td class="calculadora_celula">7</td>
                <td class="calculadora_celula">8</td>
                <td class="calculadora_celula">9</td>
            </tr>
            <tr class="calculadora_row">
                <td class="calculadora_celula">+</td>
                <td class="calculadora_celula">-</td>
                <td class="calculadora_celula">0</td>
            </tr>
        </table> -->

        <div class="calculadora">
            <div class="celula w-3 h-1" id="texto"></div>
            <div class="celula w-1 h-1" onclick="calc(1)">1</div>
            <div class="celula w-1 h-1" onclick="calc(2)">2</div>
            <div class="celula w-1 h-1" onclick="calc(3)">3</div>
            <div class="celula w-1 h-1" onclick="calc(4)">4</div>
            <div class="celula w-1 h-1" onclick="calc(5)">5</div>
            <div class="celula w-1 h-1" onclick="calc(6)">6</div>
            <div class="celula w-1 h-1" onclick="calc(7)">7</div>
            <div class="celula w-1 h-1" onclick="calc(8)">8</div>
            <div class="celula w-1 h-1" onclick="calc(9)">9</div>
            <div class="celula w-1 h-1" onclick="calc(0)">0</div>
            <div class="celula w-1 h-1" onclick="calc('-')">-</div>
            <div class="celula w-1 h-2" onclick="calc('+')">+</div>
            <div class="celula w-2 h-1" onclick="calc()">=</div>
        </div>
    </div>

    <script src="js/calc3.0.js"></script>
</body>
</html>