<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Frequência</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
    
        <header>
            <h1>Tabela de frequencia absoluta</h1>
            <a href="/">home</a>
        </header>
        
    <div class="conteudo">
        <div id="tabela">
        
            <div id="xi" class="elemento"></div>
            <div id="fi" class="elemento"></div>
            <div id="facum" class="elemento"></div>
            <div id="frel" class="elemento"></div>
            <div id="frel_acum" class="elemento"></div>
        
        </div>
    </div>

    <table id="tabela">
        <tr>
            <td>xi</td>
            <td>f1</td>
            <td>facum</td>
            <td>frel</td>
            <td>frel_acum</td>
        </tr>
        <tr>
            <td id="xi"></td>
            <td>f1</td>
            <td>facum</td>
            <td>frel</td>
            <td>frel_acum</td>
        </tr>
    </table>

        <script src="../js/tabela_frequencia.js"></script>
</body>
</html>