<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMG</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Projeto Matemático Geral</h1>
        <a href="/">home</a>
    </header>
    <div class="conteudo">
        <!-- <ul>
            <li><a href="math/frequencia.html">Tabela de frequência</a></li>
            
            <li><a href="info.html">Informação sobre tabela de frequência</a></li>

            <li><a href="math/calculadora.html">Calculadora</a></li>

            <li><a href="math/calculadora_2.0.html">Calculadora V2</a></li>

            <li><a href="math/aumento_salarial.html">Aumento Salarial</a></li>

            <li><a href="math/emprestimo.html">Aprovação de Empréstimo</a></li>

            <li><a href="math/tabuada.html">Tabuada</a></li>

            <li><a href="math/calculadora_3.0.html">Calculadora V3</a></li>

            <li><a href="math/media.html">Media</a></li>

        </ul> -->

        <div class="cardsList">
            <div class="cardOpt">
                <h2>Tabela de frequência</h2>
                <p>Uma tabela de frequência é uma representação que mostra quantas vezes diferentes valores aparecem em um conjunto de dados.</p>
                <input type="button" value="Entrar" id="tabelaFuncao" class="linkButton" >
                <a href="/tabelaFuncao">entrar</a>
            </div>

            <div class="cardOpt">
                <h2>Calculadora</h2>
                <p>
                    Uma calculadora é um dispositivo que realiza operações matemáticas, como adição, subtração, multiplicação e divisão.</p>
                <input type="button" value="Entrar" id="calculadora" class="linkButton">
                <a href="/calculadora">Entrar</a>
            </div>
            <div class="cardOpt">
                <h2>Calculadora V2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quisquam voluptatibus nemo sunt dolorum minus officiis corporis dicta ipsam vitae impedit deleniti optio exercitationem quasi, perferendis debitis iusto totam accusamus.</p>
                <input type="button" value="Entrar" id="calculadoraV2" class="linkButton">
                <a href="/calculadorav2">Entrar</a>
            </div>
            <div class="cardOpt">
                <h2>Aumento Salarial</h2>
                <p>método para calcular o aumento nos salários dos funcionários.</p>
                <input type="button" value="Entrar" id="aumentoSalarial" class="linkButton">

                <a href="/aumentoSalarial">Entrar</a>
            </div>
            
            <div class="cardOpt">
                <h2>Aprovação de Empréstimo</h2>
                <p>Permite ao usuário inserir informações financeiras e simular a aprovação de um empréstimo, oferecendo uma estimativa de parcelas, taxas de juros e prazos de pagamento com base nos dados fornecidos.</p>
                <input type="button" value="Entrar" id="emprestimo" class="linkButton">
                <a href="/emprestimo">Entrar</a>
            </div>
            <div class="cardOpt">
                <h2>Tabuada</h2>
                <p>Facilita a prática de multiplicação, exibindo a tabuada de um número específico. O usuário pode escolher um número e visualizar sua tabuada até um determinado limite, ajudando no aprendizado e prática das operações de multiplicação.</p>
                <input type="button" value="Entrar" id="tabuadaLink" class="linkButton">
                <a href="/tabuada">Entrar</a>
            </div>
            <div class="cardOpt">
                <h2>Calculadora V3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quisquam voluptatibus nemo sunt dolorum minus officiis corporis dicta ipsam vitae impedit deleniti optio exercitationem quasi, perferendis debitis iusto totam accusamus.</p>
                <input type="button" value="Entrar" id="calculadoraV3" class="linkButton">
                <a href="/calculadorav3">Entrar</a>
            </div>
            <div class="cardOpt">
                <h2>Media, Mediana e Moda</h2>
                <p>Permite ao usuário inserir um conjunto de números e calcular a média (a soma dos números dividida pelo total), a mediana (o número do meio quando os números estão ordenados) e a moda (o número que mais aparece). Ajuda a analisar e resumir dados estatisticamente.</p>
                <input type="button" value="Entrar" id="moda" class="linkButton">
                <a href="/media">Entrar</a>
            </div>
        </div>
    </div>


    <script src="js/links.js"></script>
</body>
</html>